<h1>New Guests: </h1>

<%= form_for @appearance do |f| %>
  <%= f.label "Guest: " %>
  <%= f.collection_select :guest_id, @guests, :id, :name %><br><br>
  <%= f.label "Episode: " %>
  <%= f.collection_select :episode_id, @episodes, :id, :number %><br><br>
  <%= f.label "Rating: " %>
  <%= f.select :rating, options_for_select(1..5) %><br><br>
  <%= f.submit %>
<% end %>
