<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="nav-bar" style="border-bottom:1px solid black">
  <h4> <%= link_to("Guests", guests_path)%></h4>
  <h4><%= link_to("Episodes" , episodes_path) %></h4>
  <h4><%= link_to("Create New Appearance", new_appearance_path) %></h4>
</nav>
    <%= yield %>
  </body>
</html>
